@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fadeinbg {
    0% { opacity: 0; }
    100% { opacity: .1; }
}

[data-component=profile] {
    .photo {
        margin-bottom: 24px;
        display: block;
        animation: fadein 1s both ease-in-out 1s;

        picture {}


        img {
            max-width: 400px;
            width: 100%;
            aspect-ratio: 1/1;
        }
    }

    .bgphoto {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .1;
        filter: grayscale(1);
        animation: fadeinbg 1s both ease-in-out 1s;
    }

    h1 {
        font-size: clamp(40px,7.2vw,72px);
    }

    h2 {
        font-size: clamp(22px,3.6vw,36px);
        font-weight: 400;
    }

    .formfield {
        margin-bottom: 16px;
    }

    section {
        margin-top: 24px;
        animation: slideup .6s both ease-in-out 1s;

        button + button {
            margin-left: 16px;
        }
    }

    header {
        animation: slideup both ease-in-out 1s;
    }

    @media (min-width: 768px) {
        .photo {
            img {
                max-width: 300px;
            }
        }

    }
}