:root {
    --body-background: #f0f2f5;
    --color-primary: #D5573B;
    --color-secondary: #885053;
    --color-secondary-two: #777DA7;
    --color-secondary-three: #94C9A9;
    --color-secondary-four: #C6ECAE;
    --color-neutral: #fff;

    --color-black: #000;
    --color-black-70: #333333;
    --color-black-50: #808080;
    --color-black-30: #bfbfbf;
    --color-black-20: #e6e6e6;
    
    --font-size-xl: 40px;
    --font-size-lg: 30px;
    --font-size-md: 18px;
    --font-size-sm: 16px;
    --font-size-sm: 14px;

    --media-lg: 768px; 

    --border-r-lg: 8px;
    --border-r-md: 4px;
}