@mixin font-size($font-size, $line-height: auto) {
	@if (type-of($font-size) == number) {
		@if (unit($font-size) != "px") {
			@error "`#{$font-size}` needs to be a pixel value.";
		}
	} @else {
		@error "`#{$font-size}` needs to be a number.";
	}

	font-size: ($font-size / $size-font-html) * 1 + rem;

	@if ($line-height == "auto") {
		line-height: ceil($font-size / $size-lineheight-html) * ($size-lineheight-html / $font-size);
	}
	@if ($line-height == "inherit" or $line-height == "normal") {
		line-height: $line-height;
	}
	@if (type-of($line-height) == number) {
		@if (unit($line-height) != "px") {
			@error "`#{$line-height}` needs to be a pixel value.";
		}
		line-height: ($line-height / $size-font-html) * 1 + rem;
	}
}
